<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div class="container">
  <div class="container">
		<h3>Select Number Of Rows</h3>
				<div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
			 		<select class  ="form-control" name="numRows" id="maxRows">
             <option *ngFor='let numrow of numRows'> 
                {{numrow}}
             </option>
						</select>
          </div>
  <br>        
  <table>
    <tr>
      <th *ngFor="let col of columns" >
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let user of datasource">
      <td *ngFor="let col of columns">
        {{user[col]}}
      </td>
    </tr>
  </table>



